[alias]
	co = checkout
	st = status -uno
	cm = commit -m
	diffc = diff --cached
	hist = log --oneline --decorate
	myhist = log --oneline --decorate --author=steven.lee1
	mylog = log --decorate --author=steven.lee1
	logd = log --decorate
	unstage = reset HEAD --
[branch "master"]
	rebase = true
[branch "trunk"]
	rebase = true
[color]
	ui = auto
[commit]
    template = ~/.gitmessage
[core]
	excludesfile = /Users/slee2/.gitignore_global
	editor = vim
[diff]
	# don't show diffs for renamed files
	renames = copies
[merge]
    conflictstyle = merge
[push]
	default = simple
[rerere]
    enabled = true
[user]
	name = Steven Lee
	email = steven.lee1@booking.com
