[alias]
	co = checkout
	st = status
	cm = commit -m
	hist = log --graph --oneline --decorate
	myhist = log --graph --oneline --decorate --author=steven.lee1
	mylog  = log --graph --decorate --author=steven.lee1
	unstage = reset HEAD --
[color]
	ui = auto
[commit]
    template = ~/.gitmessage
[core]
	excludesfile = /Users/slee2/.gitignore_global
	editor = vim
[diff]
	# don't show diffs for renamed files
	renames = copies
[merge]
    conflictstyle = diff3
[push]
	default = simple
[rerere]
    enabled = true
[user]
	name = Steven Lee
	email = steven.lee1@booking.com
