[alias]
	br = branch
	cm = commit
	co = checkout
	df = diff
	dfs = diff --staged
	hs = log --oneline --decorate
	ld = log --decorate
	myhs = log --oneline --decorate --author=steven.lee1
	mylog = log --decorate --author=steven.lee1
	pl = pull
	sh = show
	st = status -uno
	unstage = reset HEAD --
[branch "master"]
	rebase = true
[branch "trunk"]
	rebase = true
[color]
	ui = auto
[commit]
	template = ~/.gitmessage
[core]
	excludesfile = /Users/slee2/.gitignore_global
	editor = vim
[diff]
	# Don't show renamed files as diffs
	renames = copies
[merge]
	conflictstyle = merge
[push]
	default = simple
[user]
	name = Steven Lee
	email = stevenwh.lee@gmail.com
